.ed {
  display: flex;
  text-align: left;
  color: rgb(201, 183, 166);
  font-size: 1em;
}

@media only screen and (max-width: 767px) {
  header {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .ed {
    font-size: 15px;
  }
}
