@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: local("Merriweather"),
    url("../assets/fonts/MerriweatherSans-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-display: swap;
  font-weight: 300;
  font-family: "Merriweather", sans-serif;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.less-wide {
  display: none;
}

@media only screen and (max-width: 767px) {
  .wide-only {
    display: none;
  }
  .less-wide {
    display: inline-block;
  }
}
