.home-grow {
  transition: all 0.3s ease-in-out;
  height: 4em;
}

.home-grow:hover {
  opacity: 1;
  transform: scaleY(0.98) scaleX(1.1);
}

.iconLogo {
  height: 4em;
}

.iconBug {
  height: 4em;
}

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url("../../../images/bg-home.jpg");
  background-attachment: fixed;
}
