/* a {
  transition: all 0.2s ease-in-out;
} */

.home-grow {
  transition: all 0.3s ease-in-out;
}

.home-grow:hover {
  opacity: 1;
  transform: scale(1.05);
}

#home {
  background-image: url("../../../images/backgrounds/bg-home.jpg");
}
